@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;800&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:ital,wght@0,400;1,100&display=swap');

body {
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 0;
    background-color: #112031;
    color: #D4ECDD;
}

.inputSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #D4ECDD;
}

#slider {
    -webkit-appearance: none;
    background-color: #D4ECDD;
    border: 2px solid #345B63;
    border-radius: 16px;
    width: 480px;
    height: 16px;
}

#sliderValue {
    font-size: 16px;
    padding-left: 10px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 16px;
    border: 3px solid #152D35;
    background-color: #D4ECDD;
    cursor: pointer;
  }

.colorButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #D4ECDD;
    font-size: 24px;
    font-weight: 400;
}

button {
    margin-left: 16px;
    margin-right: 16px;
    border: 5px solid #345B63;
    border-radius: 10px;
    font-family: 'Poppins',sans-serif;
    font-size: 24px;
    color: #D4ECDD;
    background-color: #152D35;
    cursor: pointer;
}


#container {
    display: grid;
    gap: 1px;
    width: 620px;
    height: 620px;
    background-color:black;
    border: 5px solid #345B63;
    box-shadow: 5px 5px 10px 5px #345B63;
}

#container div{
    background-color: white;
}

#gridcontainer {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: #D4ECDD;
}

.active {
    border-color: #152D35;
    color: #345B63;
    background-color: #D4ECDD;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #152D35;
    color: #D4ECDD;
}

a {
    text-decoration: none;
}

a:visited {
    color: #D4ECDD;
    text-decoration: none;
  }
  

i {
    font-size: 36px;
}